*{
  background-color: rgb(132, 132, 243);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  font-family: roboto mono, monospace;
}
#header {
  text-align: center;
  position: relative;
}
body {
  display: flex;
  justify-content: center;
  height:100vh;  
  margin: auto;
  text-align: center;
  padding: 100px;
}
#footer {
  text-align: center;
  position: relative;
}
button:hover {
  background-color: transparent;
  border-radius: 2px;
}
