*{
  background-color: rgb(58, 90, 82);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white
}
#header {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
body {
  align-items: center;
  align-content: center;
  margin: auto;
  text-align: center;
  padding: 100px;
}
#footer {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
button{
  background-color: black;
}